body {
    min-height: 100vh;
}

.logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    min-width: 20rem;
    opacity: 1;

    @include respond(phone) {
        height: 20rem;
        width: 20rem;
        margin: 0 auto;
    }
}
