$primary_blue: #0345fc;
$primary_blue-light: #addefa;

$secondary_orange: #f59135;

$primary_grey: #c2d2e3;
$primary_grey--light: #ededed;
$box-shadow: rgba(0, 0, 0, 0.36) .5rem .2rem 2rem;

$border-radius: 2rem
